

    <mat-toolbar class="mat-elevation-z0 navbar-main mobile-hide" >

      <div class="logo-wrapper" [routerLink]="['home']">
        <img src="assets/images/Kasim.jpg" alt="profile-photo"> <span class="nav-name-span" > <span class="pt-2">Kasim Ibrahim</span> <small class="p-0 text-highlight">Software Engineer</small> </span>
      </div>

    <div class="nav-spacer">
    </div>
      <!-- <a [routerLinkActive]="'active'" mat-button [routerLink]="['home']"><span class="me-1"><i class="bi bi-house-door-fill"></i></span>Home</a>
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['experience']"><span class="me-1"><i class="bi bi-window-stack"></i></span> Experience</a>
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['projects']"> <span class="me-1"><i class="bi bi-menu-button-wide-fill"></i></span>Projects</a>
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['skills']"><span class="me-1"><i class="bi bi-lightning-charge-fill"></i></span>Skills</a> 
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['education']"> <span class="me-1"><i class="bi bi-mortarboard-fill"></i></span>Education</a>   
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['about']"><span class="me-1"><i class="bi bi-telephone-inbound-fill"></i></span>Contact Me</a> -->
      
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['home']">Home</a>
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['experience']"> Experience</a>
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['projects']"> Projects</a>
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['skills']">Skills</a> 
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['education']"> Education</a>   
      <a [routerLinkActive]="'active'" mat-button [routerLink]="['about']">Contact</a>
    </mat-toolbar>


