<div *ngIf="loader" class="pre-loader">
  <img src="assets/images/loader.gif" alt="pre loader">
</div>
<div class="container page-header-wrapper">
  <h2 class="page-title"><i class="bi bi-window-stack"></i> Professional Experience </h2>
</div>

<div class="container px-0 edu-main px-0">
  <!-- <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div> -->
  <mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper mobiklinic-logo"><img src="assets/images/Ashesi_University_Logo_9cm.jpg" alt="mobiklinic Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Berekusu, Ghana</span>
          <div class="me-3 d-flex justify-content-center title-date"> <mat-icon>date_range</mat-icon>July 2023 - August 2024</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-5">
        <h1 class="company-name"> <strong>Ashesi University</strong></h1>
        <h2>Faculty Intern</h2>
        <!-- <h3>Aug 2023 - Present <span></span></h3> -->
        <h2> </h2>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Research Assistance: Collaborate on research projects, literature reviews, data collection, and analysis as directed by faculty members. </li>
              <li><i class="bi bi-star-fill"></i>Tutoring and Office Hours: Offer academic support by holding office hours for students seeking additional help with course materials or assignments. Provide one-on-one or group tutoring sessions.</li>
              <li><i class="bi bi-star-fill"></i>Curriculum Development: Assist in the development of course materials, syllabi, and educational resources.</li>
              <li><i class="bi bi-star-fill"></i>Teaching Assistance: Co-teach and lead specific class sessions under the guidance of a professor.</li>
              <li><i class="bi bi-star-fill"></i>Technology Support: Help faculty members with technology-related tasks, including setting up audiovisual equipment for presentations and troubleshooting technical issues.</li>
            </ul>
          </div>

        </div>
      </div>


    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper mobiklinic-logo"><img src="assets/images/mobiKlinic.png" alt="mobiklinic Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Open Society University Networks, BRAC University</span>
          <div class="me-3 d-flex justify-content-center title-date"> <mat-icon>date_range</mat-icon>July 2022 - April 2024</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-5 role-item">
        <h1 class="company-name"> <strong>OSUN Global Commons</strong></h1>
        <h2 class="role">Assistant Design Editor</h2>
        <!-- <h3 class="duration">July 2023 - Sept 2023 <span></span></h3> -->
        <h2> </h2>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Successfully refactored code for improved application performance and developer accessibility. </li>
              <li><i class="bi bi-star-fill"></i>Achieved a 100% pass rate in testing all components and features of the Mobiklinic Mobile Application, ensuring a bug-free application, exceptional user experience, and reduced maintenance costs.</li>
              <li><i class="bi bi-star-fill"></i>Technical Documentation and Testing Guide: Authored comprehensive technical documentation to guide future testing efforts, filling a critical company need and enhancing testing efficiency.</li>
              <li>
                <i class="bi bi-star-fill"></i>Contributor to Cost Efficiency: Through code improvements and optimization, significantly reduced maintenance costs for the company while maintaining high-quality standards, resulting in increased cost savings and profitability.
              </li>

            </ul>
          </div>

        </div>
      </div>


    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper"><img src="assets/images/kudigo.png" alt="Ashesi Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Software Engineer</span>
          <div class="me-3 d-flex justify-content-center title-date"> <mat-icon>date_range</mat-icon>2021 - 2023</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-5">
        <h1 class="company-name"> <strong>KudiGo Inc</strong></h1>
        <h2>Software Engineer</h2>
        <h3>May 2021 - 2023 <span></span></h3>
        <h2> </h2>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Developed a Chop better ecommerce where users can buy and place
                orders from some registered restaurants </li>
              <li><i class="bi bi-star-fill"></i>Built KudiGo StoreFronmall Ecommerce platform</li>
              <li><i class="bi bi-star-fill"></i>Oversaw the maintaince and improvement of StoreFronmall</li>

            </ul>
          </div>

        </div>
      </div>


    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper"><img src="assets/images/microsoft.webp" alt="Ashesi Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Health Tech Hackathon</span>
          <div class="me-3 d-flex justify-content-center title-date"> <mat-icon>date_range</mat-icon>July 2022 - Jan 2023</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-5">
        <h1 class="company-name"> <strong>Microsoft</strong></h1>
        <h2>Microsoft ADC Health Tech Hackathon</h2>
        <h3>July 2022 - Jan 2023 <span></span></h3>
        <h2> </h2>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Leveraging technology to improve healthcare and patient
                experience </li>
              <li><i class="bi bi-star-fill"></i>Working in a team of 5 students from diverse background while
                receiving mentorship from Senior Software Engineers</li>
              <li><i class="bi bi-star-fill"></i>Collaboration & teamwork</li>

            </ul>
          </div>

        </div>
      </div>


    </mat-expansion-panel>

 
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper"><img src="assets/images/bright-network-835x500.jpg" alt="BN Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Technology</span>
          <div class="me-3 d-flex justify-content-center title-date"> <mat-icon>date_range</mat-icon>Jun 2022</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-5">
        <h1 class="company-name"> <strong>Bright Network</strong></h1>
        <h2>Technology </h2>
        <h3>June 2022 <span></span></h3>
        <h2> </h2>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Implemented a path finding Algorithm for Amazon’s self-driving
                delivery vehicles </li>
              <li><i class="bi bi-star-fill"></i>Got 1:1 mentorship experience from senior Engineers on how to
                write and deliver clean code.</li>
            </ul>
          </div>

        </div>
      </div>


    </mat-expansion-panel>

    <mat-expansion-panel (opened)="true" (closed)="false" class="my-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper"><img src="assets/images/firenze.jpg" alt="Firenze Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Programming Tutor</span>
          <div class="me-3 d-flex justify-content-center title-date"> <mat-icon>date_range</mat-icon>Sept 2021- Dec 2021</div>
        </mat-panel-description>

      </mat-expansion-panel-header>
      <div class="my-5">
        <h1 class="company-name">Firenze</h1>
        <h2>CodeEdge, Programming Tutor</h2>
        <h3>September 2021 - December 2021<span></span></h3>
        <p></p>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Python and Scratch Tutor</li>
              <li><i class="bi bi-star-fill"></i>Tutored Children within the ages of 9 - 15 how to program with
                python & Scratch</li>
              <li><i class="bi bi-star-fill"></i>Supervised the building and Successfull execution of amazing
                projects such as Games, and Puzzles using the knowledge imparted on them</li>


            </ul>
          </div>
          <!-- <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Discrete Structures and Theory</li>
              <li><i class="bi bi-star-fill"></i>Statistics</li>
              <li><i class="bi bi-star-fill"></i>Calculus I and II</li>
              <li><i class="bi bi-star-fill"></i>Computer Programming for CS</li>
              <li><i class="bi bi-star-fill"></i>Written and Oral Communication</li>
              <li><i class="bi bi-star-fill"></i> Design thinking & Entrepreneurship I and II</li>
            </ul>
          </div> -->
        </div>

      </div>


    </mat-expansion-panel>

    <!-- <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper"><img src="assets/images/UGA.png" alt="UGA Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description >
         <span class="couse-tag">Data Scientist</span>
          <div class="me-3 d-flex justify-content-center" > <mat-icon>date_range</mat-icon>Dec 2018 - June 2019</div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="my-5">
        <h1> <strong>AfriDesk</strong></h1>
        <h2>Software Engineering Intern</h2>
        <h3>December 2018 - June 2019 <span></span></h3>
        <h2> </h2>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Collected and input data into software database to increase productivity from 50% to 70%
              </li>
              <li><i class="bi bi-star-fill"></i>Worked in the Data Analyst team to process and make sense of the company’s data to make predictions of future patterns and directions of the company (Using Python, Excel & R)</li>


            </ul>
          </div>

        </div>
      </div>


    </mat-expansion-panel> -->

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="my-3" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="school-thumnail">
            <div class="school-logo-wrapper"><img src="assets/images/WhatsApp Image 2022-04-21 at 7.16.13 PM (2).jpeg"
                alt="Firenze Logo"></div>
          </div>

        </mat-panel-title>
        <mat-panel-description>
          <span class="couse-tag">Elective Mathematics Tutor</span>
          <div class="me-3 d-flex justify-content-center"> <mat-icon>date_range</mat-icon>Feb 2022 - June 2022</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-5">
        <h1 class="company-name">Berekuso Senior High School</h1>
        <h2>Elective Mathematics Tutor</h2>
        <h3>February 2022 - June 2022<span></span></h3>
        <p></p>
        <div class="row coursework-row">
          <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Elective Maths Tutor</li>
              <li><i class="bi bi-star-fill"></i>Tutored senior high school students Mathematics to prepare them
                for future STEM courses</li>
              <li><i class="bi bi-star-fill"></i>Helped improved their WACCSE performance in Mathematics by 80%
              </li>
            </ul>
          </div>
          <!-- <div class="col-sm">
            <ul>
              <li><i class="bi bi-star-fill"></i>Discrete Structures and Theory</li>
              <li><i class="bi bi-star-fill"></i>Statistics</li>
              <li><i class="bi bi-star-fill"></i>Calculus I and II</li>
              <li><i class="bi bi-star-fill"></i>Computer Programming for CS</li>
              <li><i class="bi bi-star-fill"></i>Written and Oral Communication</li>
              <li><i class="bi bi-star-fill"></i> Design thinking & Entrepreneurship I and II</li>
            </ul>
          </div> -->
        </div>

      </div>


    </mat-expansion-panel>
  </mat-accordion>

<!--Next Page-->
<div class="container next-page-wrapper">
  <button class="prev-page" [routerLink]="['/home']"><span><i class="bi bi-arrow-left"></i></span>Home </button>
  <button class="next-page" [routerLink]="['/projects']">Projects <span><i class="bi bi-arrow-right"></i></span> </button>
</div>

</div>